<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Control Panel</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/omegarealitymangerdata'>Active Users</a>
      <a mat-list-item routerLink='/omegarealitymangerdata/adm-referrals'>Referrals</a>
      <a mat-list-item routerLink='/omegarealitymangerdata/ctr-rewards'>Add Rewards</a>
      <a mat-list-item routerLink='/omegarealitymangerdata/adm-newsfeed'>News Feed</a>
      <a mat-list-item routerLink='/omegarealitymangerdata/sendmail'>Send Mail</a>
      <a mat-list-item routerLink='/omegarealitymangerdata/adm-rewards'>Active Rewards</a>
      <a mat-list-item routerLink='/omegarealitymangerdata/deactivated-rewards'>Deactivated Rewards</a>
      <a mat-list-item routerLink='/omegarealitymangerdata/deactivated-users'>Deactivated Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RealityCheck Admin</span>
      <span class="spacer"></span>
      <a class="header-link" role="link" (click)="logout()">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
